@media (max-width: 1024px) {
    .menu-mobile {
        display: block;
        position: absolute;
        margin-left: 25px;
        margin-top: 25px;
        z-index: 99;
    }
    .sidebar {
        display: none;
    }
    .sidebar.open {
        display: block;
        z-index: 1;
        height: calc(100vh - 7.5vh);
    }
    .hidden {
        display: none;
    }
    .open + .content {
        margin-left: -284px;
    }
    .cards {
        margin-bottom: 40px;
    }
    .card-content {
        display: block;
        text-align: center;
    }
    .card-description h3 {
        font-size: 16px;
    }
    .card-description {
        width: 214px;
        text-align: left;
        margin-left: calc(50% - 107px);
        margin-top: 20px;
    }
    .notif-text, .notif-content > p {
        height: unset;
    }
    .notif-text p {
        display: none;
    }
    .notifications .card {
        height: unset;
        padding-bottom: 15px;
    }
    .content .card:first-child {
        margin-bottom: 20px;
    }
    .logo {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        padding: 50px 90px 0;
        height: calc(100vh - 6vh);
        z-index: 1;
        overflow: hidden;
    }
    .sidebar.open + .content {
        display: none;
    }
    .logo {
        margin-top: 90px;
        margin-bottom: 20px;
    }
    .profile a:first-child img {
        height: 16px;
        width: 32px;
        top: 38px;
        left: 321px;
    }
    .header h1 {
        font-size: 20px;
    }
    .header {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .cards {
        display: block;
    }
    .card-content {
        display: flex;
    }
    .card-description {
        width: 100%;
        margin-left: unset;
        margin-top: 0px;
    }
    .card-description h3 {
        font-size: 14px;
    }
    .card-description, .card-description a{
        font-size: 12px;
    }
}

