// === Flex Helpers ===
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// === Layout ===
@mixin responsive-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


@mixin respond-to($breakpoint) {
  @if $breakpoint==sm {
    @media (max-width: 576px) {
      @content;
    }
  }

  @else if $breakpoint==md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @else if $breakpoint==lg {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint==xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin soft-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}