$primary-color: #5B5b5b;
$secondary-color: #2E3F73;

$text-color: #1470B4;
$text-color-global: #777986;
$spacing-unit: 1rem;

$primary-text: #2e3f73;
$gray-text: #777986;
$white: #fff;

$font-family-base: 'Nunito', sans-serif;
$font-size-heading: 19.92px;
$font-size-pragraph: 15.93px;
$font-size-sm: 14px;
$lin-height-sm: 21px;
$nav-item_width: 191px;

$spacing-xs: 7px;
$spacing-sm: 8px;
$spacing-md: 20px;
$spacing-lg: 40px;
$spacing-sm-md: 10px;
$spacing-md-lg: 20px;
$logout-height: 26px;

$sidebar-width: 273px;
$profile-img-width: 57.49px;
$arrow-left: 251px;

$icon-size-sm: 20px;
$icon-size-xs: 10px;

$submenu-indent: 90px;
$submenu-height: 22px;
$submenu-padding: 6px 0;
$font-weight-regular: 400;

$transition-fast: 0.3s ease;

$border-light: 1px solid #ddd;

$logo-width: 142px;
$logo-margin-left: calc(50% - 71px);

$background-page: #eaeaea;
$text-color-base: #777986;
$text-color-light: #646464;

$page-padding-x: 25px;
$page-padding-y: 37px;

$margin-header-top: 15px;
$margin-header-bottom: 60px;
$heading-color: #646464;

$font-size-xl: 24px;
$font-size-md: 16px;
$spacing-xxs: 5px;

$font-weight-medium: 500;
$font-weight-rgular: 400; 

$gap-cards: 20px;
$margin-bottom-cards: 60px;
$card-radius: 10px;
$card-bg: $white; 

$card-content-gap: 18.94px;
$card-content-padding: 18.94px;

$spacing-card-text: 14.21px;
$card-font-size-sm: 13px;
$card-font-size-lg: 20px;

$card-padding-heading: 9.44px 18.87pc;
$card-border-bottom: 1px solid #e1e1e1;

$card-img-width: 81.08px;
$card-img-height: 75px;
$card-img-radius: 15.99px;

$link-blue: #1470b4;

$notification-radius: 3.77px;
$notification-height: 760px;
$notif-padding: 7.55px;
$notif-margin: 20px;
$notif-shadow: 0px 0.94px 0px 0px #E4E8EE;

$notif-text-size: 12.27px;
$notif-h3-size: 13.21px;
$notif-h3-color: #5B5B5B;

$notif-img-width: 37.32px;
$notif-img-height: 48.54px;
$notif-text-height: 48.53px;

$notif-p-margin: 0 7.505px;
$notif-h3-margin: 0px 7.505px 9.44px;

$notif-border-pink: solid 8px #FFDCE4;
$notif-border-yellow: solid 8px #FFF3CC;
$notif-border-blue: solid 8px #D4E9FF;
$notif-border-green: solid 8px #B7E7DA;

$logout-height: 6em;
$logo-padding-normal: 1.5em;
$logo-transition: filter 300ms;
$logo-glow-default: drop-shadow(0 0  2em #646cffaa);
$logo-glow-vue: drop-shadow(0 0  2em #42b883aa);

$font-stack: 'Nunito', sand-serif;
