.sidebar {
    width: 237px;
    padding: 50px 23.5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-mobile {
    display: none;
}
.profile {
    text-align: center;
    margin-bottom: 40px;
}
.profile img {
    width: 57.49px;
    border-radius: 6px;
    object-fit: cover;
    margin-bottom: 20px;
}
.profile h2, .profile p {
    color: #2E3F73;
    margin: 0;
    font-size: 19.92px;
    font-weight: 600;
}
.profile a:first-child img {
    transform: rotate(90deg);
    height: 8px;
    width: 16px;
    border-radius: 0;
    margin: 0;
    object-fit: contain;
    position: absolute;
    top: 18px;
    left: 251px;
    display: none;
}
.sidebar.open .profile a:first-child img {
    display: block;
}
.profile p {
    margin-top: 8px;
    font-size: 15.93px;
}
nav {
    margin-bottom: 40px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 191px;
}
nav ul li a {
    text-decoration: none;
    color: #777986;
    display: flex;
    align-items: center;
    height: 46px;
    padding: 0 7px;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    line-height: 21px;
}
nav ul li a.active {
    font-weight: 800;
    font-size: 14px;
    color: #2E3F73;
}
nav ul li a .expand {
    margin-left: auto;
    width: 10px;
}
nav ul li img {
    width: 20px;
    height: 17.6px;
    margin-right: 10px;
}
.submenu {
    align-items: start;
    margin-left: 90px;
    display: none;
}
ul.open .submenu{
    display: block;
}
.submenu a {
    height: 22px;
    padding: 6px 0;
    font-weight: 400;
}
.expand {
    transition: transform 0.3s ease;
}

.expand.rotated {
    transform: rotate(180deg);
}
.dropdown:focus-within .submenu {
    display: flex;
}
.logout-container {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.logout {
    width: 100%;
    padding: 10px;
    background: none;
    color: #777986;
    border: none;
    cursor: pointer;
    display: flex;
    height: 26px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.logout img {
    margin-right: 20px;
}

.logo {
    width: 142px;
    margin-left: calc(50% - 71px);
}